<div class="flex lg:flex-row flex-col w-full p-2 gap-x-4">
    <img src="{{hotel?.main_image?.url}}" alt="hotel main image" class="rounded-xl mb-4 lg:max-w-[40%] w-full h-full">
    <div class="flex flex-col w-full gap-y-4">
        <div class="lg:flex hidden flex-row mb-2">
            <p class="font-semibold text-blue-600 text-xl p-2 bg-blue-100 rounded-xl">$ {{hotel?.price}}</p>
        </div>
        <p class="font-bold lg:text-xl ">{{hotel?.name}}</p>
        <p class="font-semibold text-gray-500 flex flex-row gap-x-2"> <img src="assets/location.svg"> {{hotel?.address}}
        </p>
        <div class="flex flex-row items-center lg:justify-start justify-between lg:gap-x-8  mt-2">
            <div class="flex flex-row gap-x-2">
                <img src="assets/bed.svg" alt="beds" class="size-6">
                <p class="font-bold">{{hotel?.beds}}</p>
            </div>
            <div class="flex flex-row gap-x-2">
                <img src="assets/bath.svg" alt="baths" class="size-6">
                <p class="font-bold">{{hotel?.baths}}</p>
            </div>
            <div class="flex flex-row gap-x-2">
                <img src="assets/area.svg" alt="area" class="size-6">
                <p class="font-bold">{{hotel?.area}}M</p>
            </div>
        </div>
    </div>
</div>