<app-auth-page-header></app-auth-page-header>

<div class="flex flex-col items-center justify-center w-full h-screen gap-y-6">
    <h1 class="text-2xl font-bold"> Forgot Your Password? </h1>
    <p>Enter your email address and we will send you instructions to reset your password</p>
    <form #myForm="ngForm" (ngSubmit)="handleSubmit(myForm)"  class="flex flex-col items-center justify-center w-full gap-y-6">
        <input type="email" id="email" name="email" required email ngModel placeholder="Email Address" class="input border-2 border-black rounded-sm w-1/2  h-12 px-4">
        <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-md cursor-pointer">Send Instructions</button>
    </form>
</div>
